* {

  --aquacolor:rgba(82,235, 217,0.6);
  box-sizing: border-box;
  margin: 0;
  padding: 0;}
  
  html {
  scroll-behavior:smooth;
  }

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  overflow-y: auto;
}
header{
display: flex;
justify-content: space-between;
height: auto;  
background-color: darkslateblue;
}
h1{  
padding: 0px 20% 0px 0px;    
background-color:var(--aquacolor);
color: darkslateblue;
font-size: 48px;
font-family: Arial, Helvetica, sans-serif;
}
h2{
padding-right: 10px;  
}
nav {
margin-right:  70px;      
display: flex;
align-items: center;}
nav :hover{
background-color: white;}
a { 
display: flex;
margin-right: 10px;  
margin-inline: 13px;
color:var(--aquacolor);
font-size:25px;
text-decoration-thickness:5px ;
}
.hero-banner{
width:auto ;
display: grid;
min-height: 300px;
height:20%;
grid-template-rows:1fr;
grid-template-columns:1fr;
grid-template-areas:
  "banner";}

#banner{
grid-area: banner ;  
background-image: url(./images/Screenshot\ 2023-12-07\ 165038.png);
background-size: cover;
background-repeat: no-repeat;
opacity:0.8;
 }
#avatar {
display: block;  
position: absolute;
top: 110px;
z-index: 100;
height: 210px; 
width: 200px;  
overflow: hidden;
border-radius: 50%; /* circular shape */
transform: scale(0.8); /* Adjust image scale for zooming out */
}

#subtitle h2 {
padding: 20px;
font-size: 26px;  
background-color:var(--aquacolor);
color: darkslateblue;  
position:absolute;
z-index: 100;
right: 5%;
top: 260px;  
}

.page-wrapper{    /* Grid CSS */
display: grid;
gap: 20px;
margin:40px 5%;
min-height: 700px;
height: 70vh;
grid-template-rows: 28% 120% 20%; 
grid-template-columns: 10% 90% ;
grid-template-areas: "area1 area2"
"area3 area4"
"area5 area6";
}
#area1{
grid-area: area1;
}
#area2{
grid-area: area2;
border-left: 4px solid darkslateblue; 
}
#area3{
grid-area: area3;
}
#area4{
grid-area: area4;
border-left: 4px solid darkslateblue; 
}
#area5{
grid-area: area5; 
}
#area6{
grid-area: area6;
border-left: 4px solid darkslateblue; 
}

.page-section{  /* Class for grid coloumn 1 */
display:flex;
justify-content: right;
font-size: 24px;
text-align: right;
color: darkslateblue;
}
.about{
display: flex;
align-items: center; 
flex-direction: column; 
font-size: 18px;
color: black;
padding-left: 30px;
}
.workgrid{        /* Grid for images in the work section */
display: grid;
height: 100%;
margin: 2px,10px;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr;
grid-template-areas:"work1 work1"
"work1 work1"
"work2 work3"   
"work4 work5";
}
.workgridarea{
background-size: cover;
background-repeat: no-repeat;
border: 2px solid darkslateblue;
margin: 7px 7px 7px 30px;
cursor: pointer;
transition:transform 0.3 ease ;    /* smooth transition for the size-up effect */
}
.workgridarea:hover{              /* creats size-up effect */
transform: scale(1.2);
}

.worksubtitle{
color: darkslateblue;
background-color:var(--aquacolor);
margin-left: 0px;
padding-left: 5px;
margin-right: 70%;
margin-top:10% ;
}

#work1{
grid-area: work1;
background-image:url(./images/02-portfolio-1.jpg);}
#work2{
grid-area: work2;
background-image: url(./images/02-portfolio-2.jpg);
}
#work3{
grid-area: work3;
background-image: url(./images/02-portfolio-3.jpg);  
}
#work4{
grid-area: work4;
background-image: url(./images/02-portfolio-4.jpg);
}
#work5{
grid-area: work5;
background-image: url(./images/02-run-buddy.jpg);  
}
.contacts{
display: flex;
justify-content: space-around;
align-items: center;
text-decoration: 3px underline rgb(59, 58, 58);
color:rgb(59, 58, 58); 
}


@media only screen and (max-width: 1000px) {

header{
flex-direction: column;
justify-content: center;
}
nav{
 justify-content: center;
}
#avatar{
transform: scale(0.5);
left: -30px;

}
h1{
text-align: center;
padding: 0%;
}
#subtitle h2{
padding: 3px;
top: 350px;

}
.page-wrapper{    /* Grid CSS */
  grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-columns:1fr;
  grid-template-areas: "area1" "area2" "area3"
  "area4" "area5" "area6";
  }
  .page-section{
  justify-content: left;
  }
  #area2,#area4,#area6{
  border-left: none;
  border-top: solid 3px darkslateblue;
  padding:5px 0px 4px 0px;  
}
  
}

@media only screen and (max-width: 600px) {
nav{
justify-content: center;
margin: 0px;
}
#avatar {
display:none;  
}
.workgrid{        /* Grid for images in the work section */
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr;
grid-template-areas:"work1" "work2" "work3"   
"work4" "work5";
}
.workgridarea{
margin: 5px;
}

#subtitle h2{
font-size: 20px;
padding:0px;
right: 25%;
top: 320px;
}
a{
justify-content: space-between;  
font-size:16px ;
}
.about{
font-size: 15px;
}
h1{
font-size: 32px;
}
h2{
font-size: 24px;  
}
h4{font-size: 12px;}
}